@media (max-width: 1300px) {
  .products {
    .product__more {
      margin-top: 60px;
    }
  }
}

@media (max-width: 1200px) {
  .banner-section {
    &__slider-img {
      min-height: 380px;
      max-width: 700px;
    }
    &__inner {
      justify-content: space-around;
    }
    &__slider {
      max-width: 700px;
    }
  }

  .categories__inner {
    justify-content: space-around;
  }
}

@media (max-width: 1100px) {
  .menu {
    &__list-item {
      & + .menu__list-item {
        padding-left: 20px;
      }
    }
  }

  .header {
    &__adress {
      margin-right: 20px;
    }
  }
}

@media (max-width: 968px) {
  .header {
    &__bottom {
      display: none;
    }
  }

  .banner-section {
    &__slider-img {
      max-width: 100%;
    }
    &__inner {
      margin-top: 25px;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 800px;
    }
    &__slider {
      max-width: 100%;
      &-item {
        align-items: center;
        text-align: center;
      }

      &-img {
        min-height: 380px;
        max-width: 100%;
        margin-bottom: 25px;
      }

      &-btn {
        display: none;
      }
    }
  }

  .menu {
    &__btn {
      display: block;
      background-color: transparent;
      cursor: pointer;
      border: none;
      padding: 0;

      &-line {
        background: #2f3035;
        border-radius: 3px;
        height: 3px;
        width: 34px;
        margin: 8px 0;
      }
    }
    &__list {
      display: none;
    }
  }

  .menu__mobile {
    &-linewrapper {
      display: block;
      font-size: 20px;
      line-height: 24px;
      color: #2f3035;
      text-align: center;
      // @extend %sf-bold;
      background: #f0f0f4;
      // overflow-x: scroll;
    }
  }

  .menu__mobile-line {
    padding: 14px 0 14px 1px;
    width: 450px;
  }

  .mobile-overflow {
    width: 1000px;
  }

  .tabs-wrapper {
    overflow-x: scroll;
  }

}


@media (max-width: 840px) {

}

@media (max-width: 640px) {
  .header {
    &__adress {
      display: none;
    }
  }

  .menu__mobile {
    &-linewrapper {
      overflow-x: scroll;
    }
  }

  .banner-section {
    &__slider-img {
      min-height: 200px;
    }
  }
  .banner-section .container {
    padding: 0;
  }

  .search__content-btn {
    font-size: 0;
    line-height: 0;
    background-image: url('../img/search.svg');
    padding: 17px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 13px;
  }

  .search__content-input {
    height: 50px;
    padding-right: 50px;
  }

  .search__content-form {
    position: relative;
  }
}


@media (max-width: 440px) {
  .banner-section {
    &__slider-img {
      min-height: 160px;
    }
  }

  .categories__item {
    padding: 20px 10px  16px;
  }
}