@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    @extend %sf-bold;
  }

  &__box {
    display: flex;
  }

  &__adress {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/location-icon.svg);
      left: 0;
      width: 30px;
      height: 30px;
      top: -10px;
    }
  }

  &__bottom {
    margin-bottom: 80px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    & + .menu__list-item {
      padding-left: 50px;
    }
  }
}

.menu-categories {
  background-color: #f0f0f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 53px;

  &__item {
    position: relative;
  }

  &__link {
    padding: 15px 0 14px;
    position: relative;
    &:hover {
      // @extend %sf-bold;
      // border-bottom: 3px solid #1c62cd;
      &::before {
        width: 100%;
        right: auto;
        left: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      left: auto;
      background-color: #1c62cd;
      height: 3px;
      bottom: -2px;
      transition: all 0.3s;
      right: 0;
    }
  }
}

.user-list {
  display: flex;
  margin-right: 15px;
  &__item {
    padding-right: 10px;
    position: relative;
  }
}

.basket__num {
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #1c62cd;
  text-align: center;
  bottom: -12px;
  right: -6px;
  @extend %sf-medium;
}

.banner-section {
  &__inner {
    display: flex;
    justify-content: space-between;
    max-height: 400px;
  }

  &__slider {
    max-width: 870px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
  }

  &__slider.slick-initialized {
    visibility: visible;
    opacity: 1;
  }
}

.slider-btn,
.product-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;

  &__right {
    right: 20px;
  }

  &__left {
    left: 20px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 5px;
  }

  button {
    border: 1px solid #ffffff;
    width: 11px;
    height: 11px;
    margin: 0;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    background-color: transparent;
  }
}

.slick-active {
  li {
    button {
      background-color: #ffffff;
    }
  }
}

.slick-slide {
  img {
    display: inline;
  }
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    background-color: #1c62cd;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    @extend %sf-light;
    padding: 8px 20px;
    line-height: 15px;
  }

  &__price {
    // font-family: 'Barlow', sans-serif;
    text-align: right;
    position: relative;
    &-new {
      @extend %sf-bold;
      font-size: 27px;
      line-height: 32px;
      color: #1c62cd;
      padding-right: 20px;
      margin-right: 9px;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../img/icon-rub.svg);
        right: 8px;
        top: 5px;
        width: 16px;
        height: 18px;
      }
    }

    &-old {
      @extend %sf-regular;
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;
      margin-right: 15px;
      background-image: url(../img/line-old-price.svg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 2px 5px;
      display: inline-block;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../img/icon-rub-silver.svg);
        right: -10px;
        top: 5px;
        width: 8px;
        height: 10px;
      }
    }
  }

  &__footer {
    background-color: #f0f0f4;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      @extend %sf-bold;
      color: #1c62cd;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    @extend %sf-bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
}

.search {
  &__tabs {
    margin-bottom: 25px;

    &-item {
      padding: 11px 26px 12px;
    }

    &-item.search__tabs-item.tab--active {
      border-radius: 5px;
      background: #f0f0f4;
      @extend %sf-bold;
      padding: 11px 26px 12px;
    }
  }

  &__content {
    &-form {
      display: flex;
    }

    .tabs-content {
      display: none;
    }

    .tabs-content.search__content-item.tabs-content--active {
      display: block;
    }

    &-input {
      background: #f0f0f4;
      width: 100%;
      line-height: 19px;
      padding: 5px 20px;
      border-radius: 3px;
      border: none;
      font-size: 16px;

      &::placeholder {
        color: #656464;
      }
    }

    &-btn {
      width: 145px;
      height: 50px;
      color: #ffffff;
      background-color: #1c62cd;
      border-radius: 3px;
      border: none;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.12em;
      @extend %sf-bold;
    }
  }
}

.categories {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 370px;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all 0.2s;

    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-img {
      text-align: center;
      width: 50%;

      img {
        max-width: 100%;
      }
    }

    &-title {
      font-size: 23px;
      line-height: 28px;
      @extend %sf-bold;
      transition: all 0.2s;
    }

    &:hover .categories__item-title {
      color: #1c62cd;
    }

    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    }

    &-text {
      @extend %sf-regular;
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;
      position: relative;

      &::after {
        content: url("../img/arrow-link.svg");
        padding-left: 3px;
      }
    }
  }
}

.products {
  &__tab {
    padding-bottom: 10px;
  }

  &__tab + .products__tab {
    margin-left: 50px;
  }

  &__tabs {
    margin-bottom: 25px;
  }

  &__tab.tab--active {
    border-bottom: 2px solid #1c62cd;
  }

  &__container {
    .tabs-content {
      display: none;
    }

    .tabs-content.products__content.tabs-content--active {
      display: block;
    }

    .product-slider {
      &__right {
        right: -20px;
      }
      &__left {
        left: -40px;
      }
    }
  }

  .product {
    &__title {
      font-size: 25px;
      line-height: 30px;
      @extend %sf-bold;
      margin-bottom: 25px;
    }

    &-item {
      border: 1px solid #cdcdcd;
      min-height: 403px;
      border-radius: 3px;
      text-align: center;
      padding: 52px 20px 31px;
      z-index: 0;
      position: relative;
      transition: all 0.2s;

      &__title {
        @extend %sf-regular;
        padding: 14px 0 25px;
      }

      &__wrapper {
        position: relative;
        width: 270px;
      }

      &__wrapper.product-item__not-available {
        //class if product is not available
        .product-item__price {
          display: none;
        }
        .product-item__notify-text {
          display: block;
        }
        .product-item__basket {
          display: none;
        }
        .product-item__notify-link {
          display: block;
          position: absolute;
          bottom: 25px;
          color: #1c62cd;
          text-align: center;
          font-size: 16px;
          line-height: 19px;
          left: 0;
          right: 0;

          span {
            border-bottom: 1px solid #1c62cd;
          }
        }
        .product-item__title {
          padding-bottom: 12px;
          padding-top: 5px;
        }
      }

      &__basket {
        position: absolute;
      }

      &__favorite {
        position: absolute;
        top: 16px;
        right: 29px;
        background-color: transparent;
        z-index: 5;
        width: 24px;
        height: 22px;
        border: none;
        outline: none;

        &::before {
          content: url("../img/favorite-icon.svg");
          position: absolute;
          top: 0;
          width: 24px;
          height: 22px;
        }

        &.product-item__favorite--active::before {
          content: url("../img/favorite-icon-active.svg");
        }
      }

      &__price {
        font-size: 30px;
        line-height: 36px;
        @extend %sf-bold;
      }

      &__basket {
        position: absolute;
        width: 60px;
        height: 40px;
        background-color: #ffffff;
        background: #1c62cd;
        border: none;
        border-radius: 10px 0px 0px 0px;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }

      &__hover-text {
        position: absolute;
        font-size: 20px;
        line-height: 24px;
        padding: 18px 21px;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        width: 230px;
        top: 30%;
        opacity: 0;
        transition: all 0.2s;
      }

      &:hover .product-item__hover-text {
        opacity: 1;
        color: #2f3035;
      }

      &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        color: #1c62cd;
        .product-item__notify-text {
          color: #2f3035;
        }
      }

      &.product-item--sale {
        &::before {
          content: "SALE";
          position: absolute;
          top: 0;
          left: 0;
          width: 63px;
          height: 25px;
          font-size: 12px;
          line-height: 14px;
          background: #1c62cd;
          color: #ffffff;
          padding: 6px 15px;
          letter-spacing: 0.07em;
        }
      }

      &__notify-text {
        display: none;
        @extend %sf-bold;
        text-align: center;
      }

      &__notify-link {
        display: none;
      }
    }

    &__more {
      text-align: center;
      margin: 35px 0 0;

      &-link {
        background: #f0f0f4;
        padding: 16px 43px;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
    }
  }

}

.banner {

}

@import "media";
