@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    @extend %sf-bold;
  }

  &__box {
    display: flex;
  }

  &__adress {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/location-icon.svg);
      left: 0;
      width: 30px;
      height: 30px;
      top: -10px;
    }
  }

  &__bottom {
    margin-bottom: 80px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    & + .menu__list-item {
      padding-left: 50px;
    }
  }

  &__btn {
    display: none;
  }
}

.menu-mobile {
  &__list {
    width: 243px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: all .3s;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;

    &.menu-mobile__list--active {
      transform: translateX(0%);
    }
  }

  &__item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__link {
    display: block;
    padding-left: 53px;
    padding-top: 36px;
  }

  &__img {
    position: absolute;
    left: 11px;
    bottom: 0;
  }
}

.menu__mobile-linewrapper {
  display: none;
}

.menu-categories {
  background-color: #f0f0f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 53px;

  &__item {
    position: relative;
  }

  &__link {
    padding: 15px 0 14px;
    position: relative;
    &:hover {
      // @extend %sf-bold;
      // border-bottom: 3px solid #1c62cd;
      &::before {
        width: 100%;
        right: auto;
        left: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      left: auto;
      background-color: #1c62cd;
      height: 3px;
      bottom: -2px;
      transition: all 0.3s;
      right: 0;
    }
  }
}

.user-list {
  display: flex;
  margin-right: 15px;
  &__item {
    padding-right: 10px;
    position: relative;
  }
}

.basket__num {
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #1c62cd;
  text-align: center;
  bottom: -5px;
  right: -5px;
  @extend %sf-medium;
}

.banner-section {
  &__inner {
    display: flex;
    justify-content: space-between;
    max-height: 400px;
  }

  &__slider {
    max-width: 870px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
  }

  &__slider.slick-initialized {
    visibility: visible;
    opacity: 1;
  }
}

.slider-btn,
.product-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;

  &__right {
    right: 20px;
  }

  &__left {
    left: 20px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 5px;
  }

  button {
    border: 1px solid #ffffff;
    width: 11px;
    height: 11px;
    margin: 0;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    background-color: transparent;
  }
}

.slick-active {
  li {
    button {
      background-color: #ffffff;
    }
  }
}

.slick-slide {
  img {
    display: inline;
  }
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    background-color: #1c62cd;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    @extend %sf-light;
    padding: 8px 20px;
    line-height: 15px;
  }

  &__price {
    // font-family: 'Barlow', sans-serif;
    text-align: right;
    position: relative;
    &-new {
      @extend %sf-bold;
      font-size: 27px;
      line-height: 32px;
      color: #1c62cd;
      padding-right: 20px;
      margin-right: 9px;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../img/icon-rub.svg);
        right: 8px;
        top: 5px;
        width: 16px;
        height: 18px;
      }
    }

    &-old {
      @extend %sf-regular;
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;
      margin-right: 15px;
      background-image: url(../img/line-old-price.svg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 2px 5px;
      display: inline-block;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../img/icon-rub-silver.svg);
        right: -10px;
        top: 5px;
        width: 8px;
        height: 10px;
      }
    }
  }

  &__footer {
    background-color: #f0f0f4;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      @extend %sf-bold;
      color: #1c62cd;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    @extend %sf-bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
}

.search {
  display: block;
  &__tabs {
    margin-bottom: 25px;

    &-item {
      padding: 11px 26px 12px;
    }

    &-item.search__tabs-item.tab--active {
      border-radius: 5px;
      background: #f0f0f4;
      @extend %sf-bold;
      padding: 11px 26px 12px;
    }
  }

  &__content {
    &-form {
      display: flex;
    }

    &-input {
      background: #f0f0f4;
      width: 100%;
      line-height: 19px;
      padding: 5px 20px;
      border-radius: 3px;
      border: none;
      font-size: 16px;

      &::placeholder {
        color: #656464;
      }
    }

    &-btn {
      width: 145px;
      height: 50px;
      color: #ffffff;
      background-color: #1c62cd;
      border-radius: 3px;
      border: none;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.12em;
      @extend %sf-bold;
    }
  }
}

//global class///////////////////
.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}
////////////////////////////////

.categories {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    width: 370px;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all 0.2s;

    &-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-img {
      text-align: center;
      width: 50%;

      img {
        max-width: 100%;
      }
    }

    &-title {
      font-size: 23px;
      line-height: 28px;
      @extend %sf-bold;
      transition: all 0.2s;
    }

    &:hover .categories__item-title {
      color: #1c62cd;
    }

    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    }

    &-text {
      @extend %sf-regular;
      font-size: 14px;
      line-height: 17px;
      color: #c4c4c4;
      position: relative;

      &::after {
        content: url("../img/arrow-link.svg");
        padding-left: 3px;
      }
    }
  }
}

.products {
  &__tab {
    padding-bottom: 10px;
  }

  &__tab + .products__tab {
    margin-left: 50px;
  }

  &__tabs {
    margin-bottom: 25px;
  }

  &__tab.tab--active {
    border-bottom: 2px solid #1c62cd;
  }

  &__container {
    .tabs-content {
      display: none;
    }

    .tabs-content.products__content.tabs-content--active {
      display: block;
    }

    .product-slider {
      &__right {
        right: -20px;
      }
      &__left {
        left: -40px;
      }
    }
  }

  .product {
    &__title {
      font-size: 25px;
      line-height: 30px;
      @extend %sf-bold;
      margin-bottom: 25px;
    }

    // &-item {
    //   border: 1px solid #cdcdcd;
    //   min-height: 403px;
    //   border-radius: 3px;
    //   text-align: center;
    //   padding: 52px 20px 31px;
    //   z-index: 0;
    //   position: relative;
    //   transition: all 0.2s;

    //   &__title {
    //     @extend %sf-regular;
    //     padding: 14px 0 25px;
    //   }

    //   &__wrapper {
    //     position: relative;
    //     width: 270px;
    //   }

    //   &__img {
    //     max-width: 100%;
    //   }

    //   &__wrapper.product-item__not-available {
    //     //class if product is not available
    //     .product-item__price {
    //       display: none;
    //     }
    //     .product-item__notify-text {
    //       display: block;
    //     }
    //     .product-item__basket {
    //       display: none;
    //     }
    //     .product-item__notify-link {
    //       display: block;
    //       position: absolute;
    //       bottom: 25px;
    //       color: #1c62cd;
    //       text-align: center;
    //       font-size: 16px;
    //       line-height: 19px;
    //       left: 0;
    //       right: 0;

    //       span {
    //         border-bottom: 1px solid #1c62cd;
    //       }
    //     }
    //     .product-item__title {
    //       padding-bottom: 12px;
    //       padding-top: 5px;
    //     }
    //   }

    //   &__basket {
    //     position: absolute;
    //   }

    //   &__favorite {
    //     position: absolute;
    //     top: 16px;
    //     right: 29px;
    //     background-color: transparent;
    //     z-index: 5;
    //     width: 24px;
    //     height: 22px;
    //     border: none;
    //     outline: none;

    //     &::before {
    //       content: url("../img/favorite-icon.svg");
    //       position: absolute;
    //       top: 0;
    //       width: 24px;
    //       height: 22px;
    //     }

    //     &.product-item__favorite--active::before {
    //       content: url("../img/favorite-icon-active.svg");
    //     }
    //   }

    //   &__price {
    //     font-size: 30px;
    //     line-height: 36px;
    //     @extend %sf-bold;
    //   }

    //   &__basket {
    //     position: absolute;
    //     width: 60px;
    //     height: 40px;
    //     background-color: #ffffff;
    //     background: #1c62cd;
    //     border: none;
    //     border-radius: 10px 0px 0px 0px;
    //     bottom: 0;
    //     right: 0;
    //     cursor: pointer;
    //   }

    //   &__hover-text {
    //     position: absolute;
    //     font-size: 20px;
    //     line-height: 24px;
    //     padding: 18px 21px;
    //     background-color: rgba($color: #ffffff, $alpha: 0.9);
    //     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    //     border-radius: 3px;
    //     width: 230px;
    //     top: 30%;
    //     opacity: 0;
    //     transition: all 0.2s;
    //   }

    //   &:hover .product-item__hover-text {
    //     opacity: 1;
    //     color: #2f3035;
    //   }

    //   &:hover {
    //     box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    //     color: #1c62cd;
    //     .product-item__notify-text {
    //       color: #2f3035;
    //     }
    //   }

    //   &.product-item--sale {
    //     &::before {
    //       content: "SALE";
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       width: 63px;
    //       height: 25px;
    //       font-size: 12px;
    //       line-height: 14px;
    //       background: #1c62cd;
    //       color: #ffffff;
    //       padding: 6px 15px;
    //       letter-spacing: 0.07em;
    //     }
    //   }

    //   &__notify-text {
    //     display: none;
    //     @extend %sf-bold;
    //     text-align: center;
    //   }

    //   &__notify-link {
    //     display: none;
    //   }
    // }

    &__more {
      text-align: center;
      margin: 35px 0 0;

      &-link {
        background: #f0f0f4;
        padding: 16px 43px;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
    }
  }
}

.banner {
}

.footer {
  background: #f0f0f4;
  font-size: 14px;
  line-height: 17px;

  &-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;

    &__input {
      background-color: #ffffff;
      border: none;
      font-size: 14px;
      line-height: 17px;
      padding: 0 12px;

      &::placeholder {
        color: #c4c4c4;
      }
    }

    &__btn {
      text-transform: uppercase;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.12em;
      color: #ffffff;
      padding: 10px 16px;
      background-color: #1c62cd;
      border: none;
      @extend %sf-semibold;
    }
  }

  &-list {
    font-size: 14px;
    line-height: 22px;
  }

  &__top {
    padding-top: 43px;

    &-title {
      @extend %sf-bold;
    }

    &-social.footer__top-item {
      width: 250px;
    }

    &-item {
      width: 180px;

      .social {
        &-list {
          display: flex;
          align-items: center;
          height: 100%;

          &__item + .social-list__item {
            margin-left: 30px;
          }
        }
      }
    }

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-newslatter.footer__top-item {
      width: 295px;
      margin-right: 35px;
    }
  }

  &__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;

    &-link {
      font-size: 10px;
      line-height: 12px;
      color: #48494d;
      margin: 0 40px;
    }
  }
}

.breadcrums {
  margin-bottom: 40px;

  &__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      right: 0;
      background-image: url(../img/arrow-right-crumbs.svg);
      height: 11px;
      bottom: 3px;

      &:last-child {
        display: none;
      }
    }
  }
}

.breadcrums__list-item:last-child::after {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
.catalog {
  margin-bottom: 100px;

  &__title {
    font-size: 30px;
    line-height: 36px;
    color: #2f3035;
    @extend %sf-bold;
    margin-bottom: 26px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &-items {
      button {
        font-size: 14px;
        line-height: 17px;
        color: #2f3035;
        opacity: 0.7;
        padding: 4px 28px;
        background: #f0f0f4;
        border-radius: 3px;
        cursor: pointer;

        & + button {
          margin-left: 8px;
        }
      }
    }

    &-button {
      opacity: 0.3;
      outline: none;
      &.catalog__filter-button--active {
        opacity: 1;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;

        & + button {
          margin-left: 10px;
        }
      }
    }

    &-btngrid {
      width: 26px;
      height: 21px;
    }

    &-btnline {
      width: 25px;
      height: 19px;
    }
  }

  .select-item {
    border: 1.5px solid #d7d9df;
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
    padding: 8px 10px 6px 20px;
  }

  &__inner {
    display: flex;

    &-aside {
      min-width: 290px;
      margin-right: 10px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .product-item__wrapper {
        position: relative;
        width: 270px;
        margin-bottom: 30px;
      }
    }
  }
}

.product-item {
  width: 100%;
  border: 1px solid #cdcdcd;
  min-height: 403px;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  z-index: 0;
  position: relative;
  transition: all 0.2s;

  &__title {
    @extend %sf-regular;
    padding: 14px 0 25px;
    font-size: 18px;
    line-height: 21px;
  }

  &__wrapper {
    position: relative;
    width: 270px;
    transition: all 0.3s;

    &.product-item__wrapper--list {
      width: 100%;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__wrapper.product-item__not-available {
    //class if product is not available
    .product-item__price {
      display: none;
    }
    .product-item__notify-text {
      display: block;
    }
    .product-item__basket {
      display: none;
    }
    .product-item__notify-link {
      display: block;
      position: absolute;
      bottom: 25px;
      color: #1c62cd;
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      left: 0;
      right: 0;

      span {
        border-bottom: 1px solid #1c62cd;
      }
    }
    .product-item__title {
      padding-bottom: 12px;
      padding-top: 5px;
    }
  }

  &__basket {
    position: absolute;
  }

  &__favorite {
    position: absolute;
    top: 16px;
    right: 29px;
    background-color: transparent;
    z-index: 5;
    width: 24px;
    height: 22px;
    border: none;
    outline: none;

    &::before {
      content: url("../img/favorite-icon.svg");
      position: absolute;
      top: 0;
      width: 24px;
      height: 22px;
    }

    &.product-item__favorite--active::before {
      content: url("../img/favorite-icon-active.svg");
    }
  }

  &__price {
    font-size: 30px;
    line-height: 36px;
    @extend %sf-bold;
  }

  &__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #ffffff;
    background: #1c62cd;
    border: none;
    border-radius: 10px 0px 0px 0px;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }

  &__hover-text {
    position: absolute;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 21px;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 230px;
    top: 30%;
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover .product-item__hover-text {
    opacity: 1;
    color: #2f3035;
  }

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: #1c62cd;
    .product-item__notify-text {
      color: #2f3035;
    }
  }

  &.product-item--sale {
    &::before {
      content: "SALE";
      position: absolute;
      top: 0;
      left: 0;
      width: 63px;
      height: 25px;
      font-size: 12px;
      line-height: 14px;
      background: #1c62cd;
      color: #ffffff;
      padding: 6px 15px;
      letter-spacing: 0.07em;
    }
  }

  &__notify-text {
    display: none;
    @extend %sf-bold;
    text-align: center;
  }

  &__notify-link {
    display: none;
  }
}

.pagination {
  width: 100%;
  margin-top: 70px;
  &-list {
    display: flex;
    justify-content: center;

    &__item {
      font-size: 18px;
      line-height: 22px;
      color: #c4c4c4;
      padding: 8px 15px;
      margin: 0 11px;
      cursor: pointer;
      &.active {
        border: 2px solid #1c62cd;
        box-sizing: border-box;
      }
      a {
        display: block;
      }
    }
  }
}

.aside-filter {
  &__tabs {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    &-box {
      width: 50%;
      margin-bottom: 10px;
    }

    &-label {
      font-size: 14px;
      line-height: 17px;
      color: #2f3035;
      @extend %sf-regular;
      cursor: pointer;
    }
  }

  &__tab {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #c4c4c4;
    width: 50%;
    @extend %sf-regular;

    &.tab--active {
      color: #2f3035;
      @extend %sf-bold;

      span {
        display: inline-block;
        border-bottom: 2px solid #1c62cd;
        padding-bottom: 7px;
      }
    }
  }

  &__item {
    &-drop {
      margin: 40px 0;
    }
    &-title {
      font-size: 16px;
      line-height: 19px;
      @extend %sf-bold;
      padding-left: 26px;
    }
    &-list {
      margin: 46px 0 40px;
    }
  }
}

//global class
.filter__item-drop {
  // margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/arrow-drop-up.svg);
    width: 12px;
    height: 8px;
    left: 0;
    bottom: 5px;
    transform: rotate(0deg);
  }
  &--active::before {
    transform: rotate(180deg);
  }
}

.jq-checkbox,
.jq-radio {
  background: #ffffff;
  width: 14px;
  height: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  box-shadow: none;
  vertical-align: -1px;
  margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
  background: #1c62cd;
  // border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 3px 0 0 2px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
  color: transparent;
  background-image: url("../img/Checked-icon.svg");
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.aside-filter__content.aside-filter__content-radio {
  flex-wrap: nowrap;
}

//RangeSlider plugin
.irs--flat {
  width: 100%;
  margin-top: -15px;
}

.irs-from {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 55px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #2f3035;
  background-color: transparent;
  text-shadow: none;
  visibility: visible !important;
  padding-left: 27px;
}

.irs-min::before,
.irs-max::before {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  text-decoration: none;
  position: absolute;
  left: 0;
}

.irs-min::before {
  content: "от";
}

.irs-max::before {
  content: "до";
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: #e0e0e0;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: #1c62cd;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  background-color: #1c62cd;
  border-radius: 50%;
}

.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background: transparent;
}

//selected 3
.filter__item {
  &-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
    padding-top: 34px;
  }

  &-listtitle {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    @extend %sf-bold;
    margin-left: 21px;
  }

  &-listselect {
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
  }
}

.jq-selectbox__select {
  font-size: 14px;
  line-height: 17px;
  color: #48494d;
  height: 20px;
  padding: 0 26px 0 10px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border: none;

  &:hover {
    background: transparent;
  }

  &:active {
    box-shadow: none;
  }
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border: none;
}

.jq-selectbox__trigger {
  position: absolute;
  background-image: url(../img/arrow-drop-up.svg);
  width: 12px;
  height: 8px;
  bottom: 5px;
  border-left: none;
  transform: rotate(180deg);
  top: 6px;
  right: 9px;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
  border-radius: 0;
  padding-top: 15px;
}

.filter-more {
  width: 100%;
  &__btn {
    font-size: 14px;
    color: #1c62cd;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #1c62cd;
    background-color: transparent;
    padding: 0;
  }
}

.filter-search {
  width: 100%;
  border: 1px solid #e0e0e0;
  height: 30px;
  padding: 0 20px;
  line-height: 14px;
  font-size: 12px;
  margin-bottom: 20px;

  &::placeholder {
    color: #bdbec2;
  }
}

// .btn-checked {
//   &__text {
//     position: absolute;
//     top: -30px;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 5;
//     font-size: 12px;
//     line-height: 14px;
//     letter-spacing: 0.07em;
//     color: #c4c4c4;
//     @extend %sf-bold;
//   }

//   & > .aside-filter__content {
//     flex-wrap: nowrap;
//   }

//   & > .aside-filter__content-label {
//     position: relative;
//     height: 25px;
//     width: 65px;
//     font-size: 12px;
//     line-height: 14px;
//     letter-spacing: 0.07em;
//     color: #ffffff;
//     @extend %sf-bold;

//   }

//   .jq-checkbox {
//     width: 65px;
//     height: 25px;
//     background: #f0f0f4;
//     border: none;
//     position: relative;

//     &.checked {
//       background: #1c62cd;
//       color: #ffffff;
//     }
//   }

//   .jq-checkbox.checked .jq-checkbox__div {
//     display: none;
//   }

//   // &>.aside-filter__content-box {
//   //   width: auto;
//   // }
// }

.btn-checked .aside-filter__content {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
  width: auto;
}

.btn-checked .aside-filter__content-label {
  position: relative;
  height: 25px;
  width: 65px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #c4c4c4;
  @extend %sf-bold;
}

.btn-checked__text {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-57%);
  z-index: 5;
}

.btn-checked .jq-checkbox {
  height: 25px;
  width: 65px;
  background: #f0f0f4;
  border: none;
}

.btn-checked .jq-checkbox.checked {
  background: #1c62cd;
  color: #ffffff;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text {
  color: #ffffff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

.filter-btn {
  &__send {
    background: #f0f0f4;
    padding: 16px 85px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #bdbec2;
    border: none;
    margin-bottom: 15px;

    &--active {
      background-color: #1c62cd;
      color: #ffffff;
    }
  }
  &__reset {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #c4c4c4;
    color: #c4c4c4;
  }
}

.aside-filter__item-btn {
  text-align: center;
}

.filter__extra {
  font-size: 13px;
  line-height: 16px;
  position: relative;
  padding-right: 29px;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 12px;
    height: 8px;
    background-image: url(../img/arrow-drop-up.svg);
  }
}

.filter__item-drop--active::after {
  transform: rotate(180deg);
}

// page product

.product-card {
  margin-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    width: 500px;
    padding-top: 64px;
    text-align: center;
    position: relative;

    &::before {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      color: #ffffff;
    }
  }

  &__content {
    width: 570px;
  }

  &__price-old {
    display: inline-block;
    font-size: 30px;
    line-height: 44px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 0;
    background-image: url(../img/line-old-price.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__price-new {
    font-size: 40px;
    line-height: 48px;
    @extend %sf-bold;
  }

  &__link {
    font-size: 15px;
    line-height: 18px;
    color: #1c62cd;
    border-bottom: 1px solid #1c62cd;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    color: #2f3035;
    @extend %sf-bold;
    margin-bottom: 10px;
  }

  &__code {
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.6;
    margin-bottom: 22px;
  }

  &__buttons {
    margin-bottom: 50px;
  }

  &__tab {
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;

    & + .product-card__tab {
      padding-left: 17px;
    }

    &.tab--active {
      opacity: 1;
      border-bottom: 2px solid #1c62cd;
      color: #2f3035;
      @extend %sf-bold;
    }
  }

  &__item {
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba($color: #2f3035, $alpha: 0.1);
    display: flex;
    justify-content: space-between;

    &-left {
      padding-right: 15px;
    }

    &-right {
      width: 125px;
    }
  }

  &__more {
    font-size: 14px;
    line-height: 17px;
    color: #1c62cd;
    border-bottom: 1px solid #1c62cd;
    margin-bottom: 40px;
  }

  &__btn button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 16px 56px;
    background: #1c62cd;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__buttons {
    & a + a {
      margin-left: 30px;
    }
  }
}

.card {
  &__tab {
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    opacity: 0.6;

    &.tab--active {
      border-bottom: 2px solid #1c62cd;
      opacity: 1;
    }

    &-box {
      background: #f0f0f4;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 22px 0;
      margin-bottom: 50px;
    }
  }

  &__tabs {
    margin-bottom: 100px;
  }

  &__input-search {
    background: #f0f0f4;
    border-radius: 3px;
    margin-left: 17px;
    padding: 9px 37px 9px 17px;
    border: none;
  }

  &__label-search {
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, 0.7);
    margin-right: 100px;
  }

  &__top-line {
    margin-bottom: 10px;
  }

  &__label-pickup {
    margin-left: 54px;
    line-height: 20px;
    color: rgba(47, 48, 53, 0.7);
    font-size: 17px;
  }

  &__list-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba($color: #2f3035, $alpha: 0.1);
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: rgba(47, 48, 53, 0.7);
  }

  &__list-itemtitle {
    color: rgb(47, 48, 53);
    font-size: 20px;
    line-height: 24px;
  }

  &__list-address {
    width: 220px;
    margin-right: 80px;
  }

  &__list-workhours {
    width: 157px;
    margin-right: 96px;
    .workhours {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list-avialable {
    width: 140px;
    margin-right: 60px;
  }

  &__list-num {
    width: 104px;
    margin-right: 132px;
  }

  &__list-btn {
    
    button {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.12em;
      color: #ffffff;
      background: #1c62cd;
      border-radius: 3px;
      padding: 10px 40px;
    }
  }
}

@import "media";
